{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <span class="login100-form-title p-b-51">
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
	</span>

    {% if token_fail %}
        <div class="m-b-16">
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
                request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        </div>
    {% else %}
        {% if form %}
            <form class="login100-form validate-form flex-sb flex-w" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="input100" name="password1" id="id_password1" required="" type="password"
                           placeholder="{% trans "New Password" %}">
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="input100" name="password2" id="id_password2" required="" type="password"
                           placeholder="{% trans "New Password (again)" %}">
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <input type="submit" class="login100-form-btn" name="action" value="{% trans 'change password' %}"/>
                </div>
            </form>
        {% else %}
            <div class="container-login100-form-btn m-t-17">
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
