{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <form class="login100-form validate-form flex-sb flex-w password_reset" method="POST"
          action="{% url 'account_reset_password' %}">

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <div class="login100-form-title p-b-51">
            {% trans "Password Reset" %}
        </div>

        <div class="m-b-16">
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="container-login100-form-btn m-t-17">
            <input type="submit" class="login100-form-btn" value="{% trans 'Reset My Password' %}"/>
        </div>
    </form>
    <div class="m-t-16 align-right">
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('input').each(function () {
            $(this).prev('label').remove()
            $(this).addClass("input100")
            $(this).wrap("<div class=\"wrap-input100 validate-input m-b-16\"></div>")
        });
    </script>
{% endblock %}